/* NOTE: This styling is only a concern for the example environment and does
 * not directly modify what the POLAR client looks like. Styling the client
 * itself is done in the src folder. */

#polarstern-wrapper {
  position: relative;
  height: 400px;
  width: 100%;
  box-shadow: 0 0 6px 0 rgba(51 117 212 / 60%);
}

/* the following styling is purely for surrounding example content */
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #04071a;
  background-color: #f7f8fa;
}

header {
  padding: 0 2em;
}

#somethingnice {
  height: 10px;
  width: 33vw;
  margin-left: 20px;
  transform: skew(-35deg);
  background: #2b3980;
  border-radius: 8px;
  margin-bottom: 1em;
}

main {
  display: flex;
  flex-direction: column;
}

.padded-x {
  padding-right: 10vw;
  padding-left: 10vw;
}

h1 {
  font-size: 30px;
  margin-bottom: 0;
}

h2 {
  font-size: 40px;
  margin: 0.5em 0;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  width: 100%;
}

.styled-table thead tr {
  background-color: #2b3980;
  color: #ecf4ff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #2b3980;
}

footer {
  color: #ecf4ff;
  background: #2b3980;
  padding: 1em 5vw;
}
