/* TODO there's lots of rounding errors going on in here; we'll probably need to look for the "sweet spots" for this to completely work, if there are any */
.v-icon__svg {
  rotate: 180deg;
  overflow: visible;
  margin-left: 3px;
}

.v-icon__svg path {
  scale: 0.028;
  /* scale: 0.0234375; */
}
