node_modules
.eslintcache

git-hooks.config.json

/docs-html
.dist.preview
.vscode/settings.json

# Old gitignore, maybe cleanup when migrated
**/.eslintcache
**/*.tgz
**/.cache
**/coverage
**/dist
**/dist-test
**/node_modules
**/tests_output
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
/*.log
/.idea/
/.nx/
/public
logs/*.log
logs

.DS_Store