.card {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: var(--width-card);
}

.card:hover {
    box-shadow: var(--box-shadow) var(--color-text-secondary);
    transition: box-shadow 0.2s ease;
}
