name: Publish packages with updated changelog to npmjs.org

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write

jobs:
  publish:
    environment: npm-publish
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.TAGS }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: 24.11.1
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: |
          RETURN_TAGS=$(node ./scripts/versionPackages)
          echo "TAGS=$RETURN_TAGS" >> $GITHUB_ENV
      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5
        with:
          author_name: Dataport Geo Bot
          author_email: polar@dataport.de
      - run: |
          for TAG in ${{ env.TAGS }}
          do
            git config user.name "Dataport Geo Bot"
            git config user.email "polar@dataport.de"
            git tag $TAG
            git push origin $TAG
            echo "Released and tagged $TAG"
          done
      - run: node ./scripts/publishPackages ${{ env.TAGS }}
      - run: node ./scripts/createRelease ${{ env.TAGS }}
