name: Publish @polar/polar to NPM registry

on:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24.12.0
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run build:ci
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: node scripts/create-github-release.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
