name: Run linter, tests and type check

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: 24.11.1
          registry-url: https://registry.npmjs.org/
      - run: |
          npm ci
          npm run lint:ci
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5
      - uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610
        with:
          node-version: 24.11.1
          registry-url: https://registry.npmjs.org/
      - run: |
          npm ci
          npm run test
  teste2e:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
    - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
      with:
        node-version: 24.11.1
    - name: Install dependencies
      run: npm ci
    - name: Build snowbox (started by playwright by itself)
      run: npm run snowbox:build
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests (common)
      run: npm run test:e2e
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5
      - uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610
        with:
          node-version: 24.11.1
          registry-url: https://registry.npmjs.org/
      - run: |
          npm ci
          npm run tsc:ci
